body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.topper {
    display: flex;
    flex-direction: column;
    flex: auto;
    background-color: #1f2937;
    color: white;
    padding-bottom: 50px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 480px;
    padding: 6px;
    
    
}

.logo {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
    
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

li {
    margin-right: 30px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7ebae;
}

.tagline {
    display: flex;
    justify-self: center;
    justify-content: center;
    margin-top: 100px;
    gap: 200px;
    
    
}

.leftside-info {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    
    align-items: start;
    max-width: 400px;
}

.leftside-info button {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
}

.subtext {
    font-size: 18px;
    color: #e5e7ebae;
    margin-top: 0;
    margin-bottom: 8px;

}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    
}

.pictures {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    
}

.pic {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    align-items: center;
}

.subheading {
    font-size: 36px;
    font-weight: bolder;
}

.pictures img {
    border-radius: 5px;
    border: 5px solid #3882F6;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.text {
    max-width:800px;
    align-self: center;
    display: flex;
    flex-direction: column;
    
}

.testimonial {
    font-size: 36px;
    margin-bottom: 0;
    font-style: italic;
    
}

.credit {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.call-to {
    display: flex;
    justify-content:center ;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sub-call {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    padding: 20px;
    border-radius: 5px;
    color: white;
    padding-left: 60px;
    padding-right: 60px;
}

.leftside-text {
    max-width: 500px;
}

.action {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: bold;
}

.action-sub {
    margin-top: 0;
}

.sub-call button {
    background-color: #3882F6;
    color: white;
    border-color: white;
    border-radius: 8px;
    padding: 8px 32px;
    border-style: solid;
}

.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}